<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/headfragment::head">
    <meta charset="UTF-8">
    <title>Categorias</title>
</head>
<body>

<div class="container">
    <header th:replace="headfragment::header"></header>
    <h1>Listado de Categorias</h1>
    <br>
    <main>

        <section style="width: 65%;float: left;">
            <form class="form-inline my-2 my-lg-0" th:action="@{/categoria/lista}">

                <div class="row">

                    <div class="col-md-10">
                <input class="form-control mr-sm-2" type="search" name="keyword" id="keyword" placeholder="Buscar" th:value="${keyword}" aria-label="Search">
                    </div>
                        <div class="col-md-1">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                        </div>

                            <div class="col-md-1">
                            <input type="button" class="btn btn-secondary mx-2 my-2 my-sm-0" value="Limpiar" onclick="limpiar()">
                            </div>
                    </div>
                <br>
                <div th:class="${clasemensaje}" role="alert" th:text="${mensaje}"></div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre de Categoria</th>
                </thead>
                <tbody>

                <tr th:each="c:${listaCategorias}">

                    <td th:text="${c.codCat}"></td>
                    <td th:text="${c.nomCat}"></td>

                    <td>
                        <form action="/categoria/editarCategoria" method="post">
                            <input type="hidden" th:value="${c.codCat}" name="codCat">
                            <button type="submit" class="btn btn-link"><img alt="" src="../img/edit1.png"></button>
                        </form>
                    </td>
                    <td>
                        <form action="/categoria/eliminarCategoria" method="post">
                            <input type="hidden" th:value="${c.codCat}" name="codCat">
                            <button type="submit" class="btn btn-link" onclick="confirmar()"><img alt="" src="../img/delete.png"></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div> <a class="btn btn-primary" href="/categoria/registrarCategoria">Nueva Categoria</a> </div>
        </section>

    </main>

</div>
</body>
<script>
    function confirmar() {
        if (confirm("¿Desea Eliminar esta Categoria?")) {
            return;
        } else { event.preventDefault(); }
    }
    function limpiar(){
    	window.location='/categoria/lista';
    }
</script>
</html>